---
---
@import "vendor/normalize";

$futura: "futura-pt", sans-serif;
$garamond: "garamond-premier-pro", "Adobe Garamond Pro", Garamond, Times, serif;

body {
  font-family: $garamond;
}

.masthead {
  display: flex;
  display: -webkit-flex;
  height: 80vh;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
  margin: 1vmax;
  font-size: 3vmax;

  p {
    margin: 0 10px;
  }

  h1 {
    font-family: $futura;
    font-weight: 700;
    font-style: italic;
    font-size: 15vmax;
    line-height: 1;
    margin: 0;
  }
}

a {
  color: #0047AB;
  text-decoration: none;
}

.front-page {
  margin: 2vw;
  font-size: 24px;

  .introduction a {
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 0.5px;
  }
}

