---
---
@import "vendor/normalize";

$sans: "Avenir Next", Avenir, sans-serif;
$serif: "garamond-premier-pro", "Adobe Garamond Pro", Garamond, Times, serif;

body {
  font-family: $sans;
  margin: 2vw;
}

a {
  color: #0047AB;
  text-decoration: none;
  &:hover, &:active {
    color: #702963;
  }
}

hr {
  text-align: center;
  line-height: 1;
  border: none;
  font-size: 2em;
  margin: 0.5em 0 2em;
  color: #666;
  &::after {
    content: "\02042";
  }
}

.masthead {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
  margin-bottom: 1em;
  min-height: 50vh;
  font-size: 4.5vmax;

  h1 {
    font-family: $sans;
    font-weight: 700;
    font-style: italic;
    font-size: 14vmax;
    line-height: 1;
    margin: 0;
  }

  p {
    margin: 0;
    font-family: $serif;
    font-variant-ligatures: contextual;
  }
}

.front-page {
  font-size: 20px;
  max-width: 750px;

  abbr {
    font-family: $sans;
    font-size: 0.85em;
    letter-spacing: 1px;
  }

  .introduction a {
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    font-weight: 600;
  }

  .elsewhere {
    font-family: $sans;
    font-size: 20px;
    list-style: none;
    margin: 2em 0;
    text-align: center;
    padding: 0;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    .link {
      padding-bottom: 1em;
      -webkit-column-break-inside: avoid;
      a { 
        font-weight: 500; 
      }
      p {
        font-size: 0.85em;
        margin: 0;
      }
    }
  }

  .projects { margin-bottom: 2em; }
  .project { margin: 0.5em 0; }

  .video {
    font-size: 18px;
    .vid-wrapper {
      position: relative;
      padding-bottom: 56.52%;
      padding-top: 35px;
      height: 0;
      overflow: hidden;
      margin-bottom: 2em;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.contact {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  font-size: 16px;
  margin-bottom: 2em;

  @media (max-width: 480px) {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .email {
    padding: 8px 0;
  }
}

footer {
  margin-top: 4em;
  max-width: 750px;
  font-family: $sans;
  font-size: 0.85em;
  font-weight: 400;
  color: #999;
  display: flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  p { margin: 0; }
}

