<form id="tinylettersub" action="https://tinyletter.com/wunsch" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/wunsch', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <p><label for="tlemail">Subscribe to <em>This Week's Program</em></label></p>
  <p>
    <input type="email" style="width:140px" name="email" id="tlemail" />
    <input type="hidden" value="1" name="embed"/>
    <input type="submit" value="Subscribe" />
  </p>
  <p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p>
</form>
