---
layout: default
---

{% capture canonical %}{% include canonical.html %}{% endcapture %}
{% capture tumblelog_type %}{% if page.type %}{{page.type}}{% else %}text{% endif %}{% endcapture %}
<div class="tumblelog article">
  <h1 class="head"><a href="/" rel="author">Mark Wunsch</a> <small>/tumblelog</small></h1>

  <article class="tumblelog t-{{tumblelog_type}}" id="{{page.path | slugify}}" data-tumblr-id="{{page.tumblr_id}}">
    {% case tumblelog_type %}
    {% when 'link' %}
      {% include tumblelog/link.html %}
    {% else %}
      {% include tumblelog/text.html %}
    {% endcase %}

    <footer class="post-footer">
      <a href="{{canonical | strip_newlines}}" class="permalink">View on Tumblr</a>
      <time class="pubdate">{{page.date}}</time>
      {% if page.tags.size > 0 %}
        <ul class="tags">
          {% for tag in page.tags %}
            <li class="tag">{{tag}}</li>
          {% endfor %}
        </ul>
      {% endif %}

    </footer>
  </article>
</div>
